body{
    margin: 0;
    padding: 0;
    background:linear-gradient(90deg,rgb(101, 60, 179),rgb(2, 39, 119));
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    margin:200px auto;
    width: 400px;
    min-width: 300px;  

}

header{
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

header h1{
    font-size: 40px;
    color: #fff;
}

img{
    width: 90%;
}

section {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 1px 8px 8px rgb(196, 81, 5);
}

input{
    padding:5px;
    margin-right:20px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid orangered;
    font-size: 16px;
}

button{
    padding:5px 15px;
    border: none;
    background-color: rgb(241, 126, 31);
    font-size: 16px;
    border-radius: 10px;
    color: #fff;
}
button:hover{

    background-color: rgb(255, 115, 0);
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

.entrada{
   display: flex;
   justify-content: center;
   align-items: center;
    max-height: 200px;
}

label{
    text-align: center;
    margin: auto;
    display: block;
    width: 80%;
    color:black;
    padding: 10px;
    font-size: 20px;
}
#result{
    text-align: center;
    margin:20px;
    font-size: 25px;
    display: none;
}

.text{
    margin: 25px auto;
    background-color: rgba(21, 206, 181, 0.89);
    width: 100%;
    color: #fff;
    border-radius: 10px;
}

.text p{
    margin: auto;
    padding:10px;
    font-size: 20px;
    width: 80%;
    text-align: center;
}